* {
	font-family:courier;
	margin-left: 10px;
	padding-left: 10px;
}
#title {
	background-color: lightblue;
	color: black;
	margin-top: 10px;
	font-size: 60px;
	text-align: center;
}
#footer{
	background-color: #a6a4a3;
	margin-bottom: 20px;
	padding:10px;
}
#navi{
	background-color: #a6a4b0;
}
#footerimage{
	padding:5px;
}
.vertline {
  border-left: 8px solid green;
  margin-left: 8px;
  margin-right: 8px;
  height: 50px;
}