#title {
	background-color: lightblue;
	color: black;
	margin-top: 10px;
	font-size: 60px;
}
#footer{
	background-color: #a6a4a3;
	margin-bottom: 20px;
	padding:10px;
}
#footerimage{
	padding:10px;
}
.vertline {
  border-left: 8px solid green;
  margin-left: 8px;
  margin-right: 8px;
  height: 50px;
}


a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: underline;

}