body {
  background-color: #FAF9F6;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0px;
}

.header {
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
  width: 100%;
  padding-top: 10px;
  height: calc(100% - 70px);
}

#stickyNavigator {
	width: 100%;
	text-align: center;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 0px;
	border-bottom: solid;
	border-bottom-color: grey;
	border-bottom-width: 5px;
	height:50px;
	z-index:100;
}


.sectionHeader{
	text-align: center;
	font-size: 42px;
}

.contactTag{
	text-align: center;
}

.contactButton{
	color:green;
}

.directionButton{
	height:95%;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	background: black;
	color:white;
	font-size: 40px;
	margin-left: 10px;
	margin-right: 10px;
	outline: none;
	border-width: 0px;
	padding-top: 25px;
}

.directionButton:hover {
    color: white;
    text-shadow: 0px 0px 30px lightblue, 0px 0px 30px lightblue, 0px 0px 30px lightblue, 0px 0px 30px lightblue;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.stickyBuffer {
  padding-top: 55px;
}

#footer {
	width: 100%;
	text-align: center;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
  	font-size: 20px;
}

.headerColRight {
	float: left;
	width: 60%;
}

.headerColLeft {
	float: left;
	width: 40%;
}

.frontHeadshot { 
	height:80%;
	border-radius: 30%;
	box-shadow: 0 0 100px white;
	animation-name: headshotAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes headshotAnimation {
  0%   {box-shadow: 0 0 75px white;}
  50%  {box-shadow: 0 0 45px white;}
  100% {box-shadow: 0 0 75px white;}
}

#firstGreeting {
	width: 100%;
}

#positionTyper {

}

.introP {
	padding-bottom: 10px;
}


#blogContainer { 
	width: 80%; 
	margin: auto; 
	background-color: grey; 
	padding: 20px; 
}

.row { 
	height: 150px; 
	margin-bottom: 20px; 
	position: relative; 
}

.row div { 
	height: 100%; 
}

.column-1 {
	width: 96%;
}

.column-2 { 
	width: 46%; 
}

.column-3 { 
	width: 28%; 
}

.left { 
	float: left; 
}

.center { 
	float: left; 
	margin: 0 4%; 
}

.right { 
	float: right; 
}

.contactButtonImg {
	width:70px;
	height:70px;
	border-width: 4px;
	border-color: gray;
}

.contactButton {
    width:70px;
    height:70px;
    border-width: 4px;
    border-color: gray;
}

.contactButton:hover img {
    -webkit-filter: invert(95%);
}

.contactRow {
    display: table;
    border-spacing: 30px;
	margin-left: auto;
	margin-right: auto;
}

.contactCol {
    display: table-cell;
}

.projectName {
	margin-top: 15px;
	color: red;
}

.projectSkillsUsed {
	float: right;
}

.projectSlider {
	background-color: #808080;
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 60px;
	margin-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: auto;
	height: 175px;
	border-width: 10px;
	border-color: black;
	border: solid;
	box-shadow: 0 0 75px lightblue;
}

.projectName:link {
  color: black
}

.projectName:visited {
  color: black;
}

.projectPicture {
	float: left;
	height: 100%;
	width: auto;
	margin-right: 30px;
}

.projectDescription {
	padding-top: 15px;
}

.blogBox {
	background-color: lightgray;
	box-shadow: 0 0 15px lightgray;
	border-radius: 25px;
	border-width: 3px;
	border: solid;
	border-color: black;
	padding-left: 2%;
	padding-top: 4px;
}

.blogTitle {
	color : black;
	font-size: 25px;
}

.blogTag {
	color: grey;
	position: absolute;
	bottom: 10px;
}