body {
  background-color: lightblue;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0px;
}

.header 
{
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
  width: 100%;
  top-margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

}

#stickyNavigator
{
	width: 100%;
	text-align: center;
	background-color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid;
	border-bottom-color: grey;
}

.directionButton
{
	padding: 20px;
	text-align: center
	background: #100000;
	color:black;
	font-size: 10px;
	margin:0px
}

.sticky 
{
  position: fixed;
  top: 0px;
  width: 100%;
}