body {
  background-color: lightblue;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 0px;
}

.header 
{
  text-align: center;
  background: #000000;
  color: white;
  font-size: 30px;
  width: 100%;
  top-margin: 10px;
  min-width: 100vh;

}

.directionButton
{
	padding: 20px;
	text-align: center
	background: #100000;
	color:black;
	font-size: 10px;
	margin:0px
}