.blogTitle {
	font-size: 55px;
	text-align: center;
	text-decoration: underline;
}

.mainSubtitle {
	text-align: center;
	font-size: 30px;
}

.lastUpdated {
	text-align: center;
	font-size: 15px;
	color: #232b2b;
}

.blogParagraph {
	font-size: 17px;
	margin-left: 26%;
	margin-right: 26%;
	line-height: 1.2;
}
