.blogTitle {
	font-size: 55px;
	text-align: center;
	text-decoration: underline;
}

.mainSubtitle {
	text-align: center;
	font-size: 28px;
}

.lastUpdated {
	text-align: center;
	font-size: 15px;
	color: #232b2b;
}

.blogSectionHeader {
	text-align: center;
	font-size: 40px;
}

.blogParagraph {
	font-size: 18px;
	margin-left: 26%;
	margin-right: 26%;
	line-height: 1.4;
	white-space: pre-line;
}

.checkBox {
	margin: 5px;
	padding-left: 20%;
}
