body {
	background-color:blue;
}

h1{ /* name, title */
	color:blue;
}


h2 { /* section headers */
	color:blue;
}

h3 { /* runner linkes [mm] */
	color:blue;
}

h4 { /* event labels */
	color:blue;
}

h5 { /* points */
	color:blue;
}

p { /* event info */
	color:blue;
}
