body {
	background-color: #030f00;
	text-align: center;
}

h1{ /* name, title */
	color:black;
	background-color: lightblue;
	text-align: center;
	font-size: 60px;
	margin: 0px 0px 0px 0px;
	padding: 10px 100px 10px 100px;
}

#section {
	color:black;
	background-color: #e7e6f5;
}


h2 { /* section headers */

}

h3 { /* runner linkes [mm] */

}

h4 { /* event labels */

}

h5 { /* points */
	color:#15141f;
	text-align: center;
}

p { /* event info */
	padding: 10px 0px 10px 0px;
}
